#fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  
  .Image_upload{
    height: auto !important;
    background: transparent;
    padding: 0;
  }
  .Image_upload mat-icon{
    position: absolute;
    right: 0px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .save_button{
    float: right;
  }