.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background-color: black !important;
    color: #ffff;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .roomCards{
    margin-top: 65px;
  }