<main>
  <div>
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Rent @ Room</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="roomCards">
    <app-room-card [roomDetails]="roomsList"></app-room-card>
  </div>
  <div
    class="example-button-container"
    style="position: fixed; bottom: 20px; right: 20px"
  >
    <button mat-fab routerLink="/add-room">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</main>
